<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{bannerTitle}}</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>


  <div class="centeredContent">
    <div class="nav-bar">
      <div class="homeButton">
        <a href="/users">Home</a>
      </div>
      </br>
    </div>
    {{{body}}}
  </div>
</body>

</html>