html, body {
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(192, 223, 196);
  font-size: 20pt;
}
.centeredContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
