<div>
  <div class="username">Username: {{bannerTitle}}</div>
  <div class="password">Password: {{user.password}}</div>
  <a href="/users/{{user._id}}/pets">Your Pets</a>

  <div>Edit this
    <a href="/users/{{user._id}}/edit">User</a>
  </div>
</div>